body {
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjFtb2kxbjBld3YyYTY3NXM1aWczYm5mN2htcHJtNHp6Z3BrOHQ1NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JKHVVuIwtt3Xhb3SjV/giphy.gif);
  background-size: cover;
}

.header {
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  background-image: -webkit-linear-gradient(purple, orange);
  img {
    margin: auto;
    display: block;
    border-radius: 50%;
  }
}

.title{
  margin: 10px;
  text-align: center;
  font-size: xx-large;
  font-family: Haettenschweiler;
  color: o;
}

.subtitle {
  margin: 10px;
  text-align: center;
  font-size: larger;
  font-family: 'Brush Script MT', cursive;
}
